Timetable.Client/Service References/DaysServiceReference/DaysService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Timetable.Service.ViewModels" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Timetable.Service.ViewModels" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDaysViewModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DaysViewModel" nillable="true" type="tns:DaysViewModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDaysViewModel" nillable="true" type="tns:ArrayOfDaysViewModel" />
  <xs:complexType name="DaysViewModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Number" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DaysViewModel" nillable="true" type="tns:DaysViewModel" />
</xs:schema>