Timetable.Web/Service References/TimetableServiceReference/TimetableService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:7985/Services/TimetableService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Timetable.DAL.ViewModels" />
  <xs:element name="GetTimetableEntities">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimetableEntitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Timetable.DAL.ViewModels" minOccurs="0" name="GetTimetableEntitiesResult" nillable="true" type="q1:TimetableViewModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimetableForClass">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimetableForClassResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Timetable.DAL.ViewModels" minOccurs="0" name="GetTimetableForClassResult" nillable="true" type="q2:TimetableViewModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimetableForTeacher">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pesel" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimetableForTeacherResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Timetable.DAL.ViewModels" minOccurs="0" name="GetTimetableForTeacherResult" nillable="true" type="q3:TimetableViewModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimetableForClassroom">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimetableForClassroomResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Timetable.DAL.ViewModels" minOccurs="0" name="GetTimetableForClassroomResult" nillable="true" type="q4:TimetableViewModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>