Timetable.Web/Service References/TimetableServiceReference/TimetableService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TimetableService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:7985/Services/TimetableService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:7985/Services/TimetableService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:7985/Services/TimetableService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Timetable.DAL.ViewModels" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITimetableService_GetTimetableEntities_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTimetableEntities" />
  </wsdl:message>
  <wsdl:message name="ITimetableService_GetTimetableEntities_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTimetableEntitiesResponse" />
  </wsdl:message>
  <wsdl:message name="ITimetableService_GetTimetableForClass_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTimetableForClass" />
  </wsdl:message>
  <wsdl:message name="ITimetableService_GetTimetableForClass_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTimetableForClassResponse" />
  </wsdl:message>
  <wsdl:message name="ITimetableService_GetTimetableForTeacher_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTimetableForTeacher" />
  </wsdl:message>
  <wsdl:message name="ITimetableService_GetTimetableForTeacher_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTimetableForTeacherResponse" />
  </wsdl:message>
  <wsdl:message name="ITimetableService_GetTimetableForClassroom_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTimetableForClassroom" />
  </wsdl:message>
  <wsdl:message name="ITimetableService_GetTimetableForClassroom_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTimetableForClassroomResponse" />
  </wsdl:message>
  <wsdl:portType name="ITimetableService">
    <wsdl:operation name="GetTimetableEntities">
      <wsdl:input wsaw:Action="http://tempuri.org/ITimetableService/GetTimetableEntities" message="tns:ITimetableService_GetTimetableEntities_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITimetableService/GetTimetableEntitiesResponse" message="tns:ITimetableService_GetTimetableEntities_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTimetableForClass">
      <wsdl:input wsaw:Action="http://tempuri.org/ITimetableService/GetTimetableForClass" message="tns:ITimetableService_GetTimetableForClass_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITimetableService/GetTimetableForClassResponse" message="tns:ITimetableService_GetTimetableForClass_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTimetableForTeacher">
      <wsdl:input wsaw:Action="http://tempuri.org/ITimetableService/GetTimetableForTeacher" message="tns:ITimetableService_GetTimetableForTeacher_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITimetableService/GetTimetableForTeacherResponse" message="tns:ITimetableService_GetTimetableForTeacher_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTimetableForClassroom">
      <wsdl:input wsaw:Action="http://tempuri.org/ITimetableService/GetTimetableForClassroom" message="tns:ITimetableService_GetTimetableForClassroom_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITimetableService/GetTimetableForClassroomResponse" message="tns:ITimetableService_GetTimetableForClassroom_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITimetableService" type="tns:ITimetableService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTimetableEntities">
      <soap:operation soapAction="http://tempuri.org/ITimetableService/GetTimetableEntities" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTimetableForClass">
      <soap:operation soapAction="http://tempuri.org/ITimetableService/GetTimetableForClass" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTimetableForTeacher">
      <soap:operation soapAction="http://tempuri.org/ITimetableService/GetTimetableForTeacher" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTimetableForClassroom">
      <soap:operation soapAction="http://tempuri.org/ITimetableService/GetTimetableForClassroom" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TimetableService">
    <wsdl:port name="BasicHttpBinding_ITimetableService" binding="tns:BasicHttpBinding_ITimetableService">
      <soap:address location="http://localhost:7985/Services/TimetableService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>