Timetable.Client/Service References/HoursServiceReference/HoursService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8463/Services/HoursService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Timetable.DAL.Model" />
  <xs:element name="GetAllHours">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllHoursResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Timetable.DAL.Model" minOccurs="0" name="GetAllHoursResult" nillable="true" type="q1:ArrayOfhours" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>